*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
$padraoColor: #ffff;

body{
    font-family: 'Roboto', sans-serif;
    
    color: $padraoColor;
}

nav{
   
    height: auto;
    background-color: #182529;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    flex-wrap: wrap;
    width: 100%;

    ul{
       a{
           color: $padraoColor;
           text-decoration: none;
           font-size: 1.5rem;
           margin: 10px;
           
       }
       a:hover{
           color: yellow;
       }
    }
    h1{
        font-size: 2rem;
    }
}

header{
    margin-top: 30px;
    display: flex;
    height: 80vh;
    justify-content: space-around;
    padding: 5px;
   div{
        margin-top: 5%;
       width: 50%;
       color: #2f3d70;
       h2,p{
           font-size: 2rem;
       }
   }   
}

$heigthConteudo: 100vh;
$boderConteudo: 1px solid black;
$boder-radiuConteudo: 10px;
$marginConteudo:20px;

main,#dicasProgramador{
    height: $heigthConteudo;
}
main,#playlist,#ferramentas,#dicasProgramador{
    border:$boderConteudo;
    border-radius: $boder-radiuConteudo;
    margin:$marginConteudo;
    color: black;
}


$imagesDosConteudos:200px;
$borderDosConteudos: 10px;

#playlist{
    ul{
        display: flex;
        flex-direction: row;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;

        div{
            width: 210px;
            border:1px solid;
            border-radius: 10px;
            height: auto;
            padding: 5px;
            padding-bottom: 30px;
            margin: 10px;
            p{
                text-align: start;
                margin: 10px;
            }

            a{
                text-decoration: none;
                color: black;
            }

            a:hover{
                color: rgb(44, 44, 41);
                font-size: 1.3rem;
            }
            img{
                width:$imagesDosConteudos;
                border-radius: $borderDosConteudos;
            }
        }
    }
}
#playlist,#ferramentas,#dicasProgramador{
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: auto;
}

#ferramentas{
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        div{
            width: 210px;
            border:1px solid;
            border-radius: 10px;
            height: auto;
            padding: 5px;
            margin: 10px;

            p{
                text-align: start;
                margin: 10px;
            }

            a{
                text-decoration: none;
                color: black;
            }
    }

    }
    img{
        width:$imagesDosConteudos;
        border-radius: $borderDosConteudos;
    }
}

#dicasProgramador{
   
    text-align: center;
}

footer{
    height: 100vh;
    background: rgb(255,0,44);
    background: linear-gradient(217deg, rgba(255,0,44,1) 0%, rgba(18,26,126,0.9728933809852066) 100%);
    display: flex;
   
    div{
        width: 50vw;
        height: 100%;

        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    form{
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        height: 80vh;
        width: 45vw;
        margin: auto;
        color: black;
        background-color: white;
        border-radius: 20px;
        padding: 10px;

        h1{
            text-align: center;
        }
        
        input,button,textarea{
            width: 70%;
            padding: 10px;
            font-size: 1rem;
        }

        input{
            line-height: 50px;
            padding-bottom: 10px;
            border:none;
            border-bottom: 1px solid;
        }

        textarea{
            margin-top: 10px;
            height: auto;
            resize:none;
            border:1px solid;
        }

        button{
            background-color: white;
            border:1px solid;
            margin-top: 20px;
            cursor: pointer;
        }

        button:focus{
            background-color: rgb(218, 218, 218);
        }
    }
}