* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #ffff;
}

nav {
  height: auto;
  background-color: #182529;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

nav ul a {
  color: #ffff;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 10px;
}

nav ul a:hover {
  color: yellow;
}

nav h1 {
  font-size: 2rem;
}

header {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5px;
}

header div {
  margin-top: 5%;
  width: 50%;
  color: #2f3d70;
}

header div h2, header div p {
  font-size: 2rem;
}

main, #dicasProgramador {
  height: 100vh;
}

main, #playlist, #ferramentas, #dicasProgramador {
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px;
  color: black;
}

main ul, #playlist ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main ul div, #playlist ul div {
  width: 210px;
  border: 1px solid;
  border-radius: 10px;
  height: auto;
  padding: 5px;
  padding-bottom: 30px;
  margin: 10px;
}

main ul div p, #playlist ul div p {
  text-align: start;
  margin: 10px;
}

main ul div a, #playlist ul div a {
  text-decoration: none;
  color: black;
}

main ul div a:hover, #playlist ul div a:hover {
  color: #2c2c29;
  font-size: 1.3rem;
}

main ul div img, #playlist ul div img {
  width: 200px;
  border-radius: 10px;
}

main, #playlist, #ferramentas, #dicasProgramador {
  text-align: center;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

main {
  margin-top: 60px;
}

main ul div {
  width: auto;
}

main ul div p {
  width: 300px;
}

main ul div img {
  width: 25vw;
  border-radius: 10px;
}

#ferramentas ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#ferramentas ul div {
  width: 210px;
  border: 1px solid;
  border-radius: 10px;
  height: auto;
  padding: 5px;
  margin: 10px;
}

#ferramentas ul div p {
  text-align: start;
  margin: 10px;
}

#ferramentas ul div a {
  text-decoration: none;
  color: black;
}

#ferramentas img {
  width: 200px;
  border-radius: 10px;
}

#dicasProgramador {
  text-align: center;
}

footer {
  height: 100vh;
  background: #ff002c;
  background: linear-gradient(217deg, #ff002c 0%, rgba(18, 26, 126, 0.972893) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer div {
  width: 50vw;
  height: 100%;
}

footer div img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 80vh;
  width: 45vw;
  margin: auto;
  color: black;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}

footer form h1 {
  text-align: center;
}

footer form input, footer form button, footer form textarea {
  width: 70%;
  padding: 10px;
  font-size: 1rem;
}

footer form input {
  line-height: 50px;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid;
}

footer form textarea {
  margin-top: 10px;
  height: auto;
  resize: none;
  border: 1px solid;
}

footer form button {
  background-color: white;
  border: 1px solid;
  margin-top: 20px;
  cursor: pointer;
}

footer form button:focus {
  background-color: #dadada;
}
/*# sourceMappingURL=css.css.map */