@media screen and (max-width:880px){
    nav{

        ul{
            a{
                margin-top: 5px;
                line-height: 50px;
            }
        }
    }

   header{
        align-items: center;
        height: auto;
        flex-direction: column;
       div{
           width: 80vw;
           margin-bottom: 15px;
       }
       img{
           width: 60vw;
       }
   }
}

@media screen and(max-width:751px){
    #playlist{
        height: auto;
        ul{
            justify-content: center;
            height: auto;
        }
    }


    footer{
        padding: 20px 0px;
        background-image: url(../images/icon/images/white-rose.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        img{
            display: none;
        }
        flex-direction: column;
        height: auto;
        form{
            width: 70%;
            height: auto;
            padding:30px 0px;
           
        }
    }

}

@media screen and(max-width:450px){
    nav{
        padding: 15px 0px;
        justify-content: center;
        h1,ul{
            font-size: 1.5rem;
        }

        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    header{
        div{
            h2,p{
                font-size: 1.3rem;
            }
        }
    }



    footer{
        
        form{
            width: 95%;
            height: auto;
        }
    }

}