@media screen and (max-width:880px){
    header{
        padding: 5px;
        h1{
            margin: 10px;
        }
        ul{
            padding: 15px;
            a{
                margin-top: 5px;
                line-height: 50px;
            }
        }
    }

   section{
        align-items: center;
        height: auto;
        flex-direction: column;
       div{
           width: 80vw;
           margin-bottom: 15px;
       }
       img{
           width: 60vw;
       }
   }
}

@media screen and(max-width:450px){
    section{
        div{
            h2,p{
                font-size: 1.3rem;
            }
        }
    }
}